/PreliminaryTests
/.idea
/Responses
/Videos
/RepetitionData/Raw
/Versions
*/Media
/Media
*/Media/*
Media/*
/Characterisation/ElectrodeSweeps/Media/
*.mp4
*Weekend.mat
*Hand32Environment.mat
*Weekend2.mat
*Weekend2Conditions.mat
/TouchVideo
*/TestVideos
FullHandSweep/SelectedFollowups/Revisions/EnvironmentalData/
*.asv
/GeneratingFields/Data
/6PointProbing/channelresponses/Batch1
/6PointProbing/channelresponses/Batch2
/6PointProbing/channelresponses/Batch3
/6PointProbing/channelresponses/Batch4