/PreliminaryTests
/.idea
/Responses
/Videos
/RepetitionData/Raw
/Versions
*/Media
/Media
*/Media/*
Media/*
/Characterisation/ElectrodeSweeps/Media/
*.mp4
*Weekend.mat
*Hand32Environment.mat
*Weekend2.mat
*Weekend2Conditions.mat